@charset "UTF-8";
h1{
    text-align: center;
}
form{
    display: inline-block;
    margin: auto;
}
label{
    display: block;/*Transforma o bloco em box level*/
    margin-bottom:20px;
    padding:5px ;
}
input.texto, select, textarea{
    background-color: rgb(224, 224, 224);
    height: 25px;
    width: 400px;
    font-size: 1.3em;
    margin-top: 5px;
}
textarea{
    height: 400px;
    width: 400px;
    resize: none;

}
input[type=submit]{
    font-size: 1.3em;
    padding: 10px;
    background-color:rgb(224, 224, 224);
}
input[type=submit]:hover{
    background-color: rgb(173, 173, 173);
}